# Python
backend/venv/
__pycache__/
*.pyc

# Base de datos
*.db
instance/

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Uploads opcional
backend/uploads/